[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gensim = "*"
openai = "*"
dotenv = "*"
redis = "*"
fastapi = "*"
uvicorn = "*"
pyyaml = "*"
pandas = "*"
requests = "*"
torch = "*"
sentence-transformers = "*"
einops = "*"
rdflib = "*"
ollama = "*"
aiohttp = "*"
langgraph = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.13"
